*, ::before ,::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5D3BEE;
    --secondary-color: #ded7fc;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* ========== Common ========== */
.container {
    padding: 0;
}

.inner {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 170px;
    height: 62px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.contact {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
}

.email {
    display: inline-flex;
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration: underline;
}

.memoji-icon {
    margin-left: 358px;
    margin-right: auto;
}

/* ========== Header ========== */
.header {
    margin-top: 20px;
}

.header__inner {
    width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 43px;
}

.nav__item {
    color: #51586A;
    font-size: 1.8rem;
    text-decoration: none;
}